@inherits UmbracoTemplatePage
<script type="text/javascript">
    var folderPath = "@Url.Content("~/media/")";
    var localServ = "@Url.Content("~/Umbraco/My/FileExplorer/FileActionDefault")";
    
    function onDropdownValueChanged(sender) {
        folderPath = "@Url.Content("~/media/")" + sender.value;
        $("#fileExplorerMVC").ejFileExplorer(getFileSetting());
    }
    function getFileSetting() {
        return {
            fileTypes: "*.png, *.gif, *.jpg, *.jpeg, *.docx, *.pdf",
            layout: "grid",
            path: folderPath,
            ajaxAction: localServ
        };
    }

    function inspectionDialogOpen() {
        $('#inspectionDialog').ejDialog('open');
    }
    function safetyDialogOpen() {
        $('#safetyDialog').ejDialog('open');
    }

    var selectedItem = "";
    function onFileSelect(args) {
        if (args.model.selectedItems.length > 0) { selectedItem = args.model.path + args.model.selectedItems[0]; }
    }
    function safetyOpen() {
        $('#safetyBtn').text(selectedItem);
    }
    function inspectionOpen() {
        $('#inspectionBtn').text(selectedItem);
    }
</script>
@{
    const string Inspect = "Inspect";
    const string Safety = "Safety";
    var feCtrl = new My.Controllers.FileExplorerController();
    var ddl = Html.EJ().DropDownList("vegatableMVC").Width("250");
    ddl.DropDownListFields(f => f.Text("skill").Value("value").Category("category"));
    ddl.AllowGrouping(true).Datasource(feCtrl.GetPathList());
    ddl.ClientSideEvents(e => e.Change("onDropdownValueChanged"));

    List<string> toolsList = new List<string>() { "navigation", "editing", "copyPaste", "customTool", "searchBar", "getProperties" };
    List<string> editList = new List<string>() { "Refresh", "Delete", "Rename" };
    var fe = Html.EJ().FileExplorer("fileExplorerMVC").ShowTreeview(true)
        .FilterSettings(fs => fs.FilterType(FilterOperatorType.Contains).CaseSensitiveSearch(false))
        .GridSettings(gs => gs.Column(col =>
        {
            col.Add().Field("name").HeaderText("Name").Width("150px");
            col.Add().Field("type").HeaderText("Type").Width("100px");
            col.Add().Field("size").HeaderText("Size").Width("100px");
            col.Add().Field("IsReadOnly").HeaderText("IsReadOnly").Width("75px");
            col.Add().Field("stamp").HeaderText("Stamp").Width("75px");
            col.Add().Field("createdDate").HeaderText("Date Created").Width("150px");
            col.Add().Field("dateModified").HeaderText("Date Modified").Width("150px");
        }))
        .ClientSideEvents(c=>c.Select("onFileSelect"))
        .Layout(LayoutType.Tile)
        .FileTypes("*.png, *.gif, *.jpg, *.jpeg, *.docx, *.pdf")
        .Tools(t=>t.CustomTool(
            cust => {
                cust.Name(Safety).Tooltip(Safety).Action("inspectionDialogOpen").Css("e-fileExplorer-toolbar-icon " + Safety).Add();
                cust.Name(Inspect).Tooltip(Inspect).Action("safetyDialogOpen").Css("e-fileExplorer-toolbar-icon " + Inspect).Add();                
            }))
    .ToolsList(toolsList).IsResponsive(true)
    .AjaxAction(@Url.Content("~/Umbraco/My/FileExplorer/FileActionDefault"))
    .Width("1000").Height("500").Path(@Url.Content("~/media/"));

    var insDial = Html.EJ().Dialog("inspectionDialog").Title("Inspection Image Detail")
        .EnableResize(false).EnableModal(true).ShowOnInit(false).Width(250)
        .ClientSideEvents(evt => evt.BeforeOpen("inspectionOpen"))
        .ContentTemplate(@<div>@Html.EJ().Button("inspectionBtn")</div>);

    var safeDial = Html.EJ().Dialog("safetyDialog").Title("Safety Image Detail")
        .EnableResize(false).EnableModal(true).ShowOnInit(false).Width(250)
        //.ActionButtons(new List<string>(){"pin","close"})
        .ClientSideEvents(evt => evt.BeforeOpen("safetyOpen"))
        .ContentTemplate(@<div>@Html.EJ().Button("safetyBtn")</div>); // <- need to find out why it didnt update <- fixed
}
<div class="content-container-fluid">
    @ddl
    @fe
    @insDial
    @safeDial
</div>

<style class="cssStyles">
    .e-fileExplorer-toolbar-icon {
        height: 22px;
        width: 22px;
        font-family: 'ej-webfont';
        font-size: 18px;
        margin-top: 2px;
        text-align: center;        
    }

    .e-fileExplorer-toolbar-icon.Safety:before {
        content: url(@Url.Content("~/css/images/app_safety.png"));
    }
    .e-fileExplorer-toolbar-icon.Inspect:before {
        content: url(@Url.Content("~/css/images/app_inspection.png"));
    }
    .e-dialog .header-content {
        font-size: 22px;
    }

    #helpDialog_wrapper.e-dialog > .e-titlebar {
        background: transparent;
        border: 0 none;
        color: #aaa;
    }
</style>

